{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gamer Management System </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/edit102.css' %}" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">
    <div class="nav">
        <a  href="{% url 'index' %}"><i class="fa-solid fa-gamepad"></i> Gamer Management System</a></li>
        <a href="{% url 'add_games' %}"><i class= "fa-solid fa-plus"></i> Add Games</a></li>
        <a href="{% url 'add' %}"><i class="fa-solid fa-plus"></i> Add Gamer </a></li>
        <a href="{% url 'show' %}"><i class="fa-solid fa-bars"></i> Show Games </a></li>
        <div class="search">
            <form class="search-add-wrapper" method="POST" action="{% url 'search_games' %}" style="margin-top: 20px;display: flex;">
                {% csrf_token %}
                <input class="form-control me-1" type="search" placeholder="Search Games" aria-label="Search" name="searched">
                <button class="btn4" type="submit">Search</button>
            </form>
        </div>
    </div>
    <br>
    <div class="text">
      <h3>Update a Gamer on the System</h3>
      {% if success %}
          <div class="alert alert-success" role="alert">
              The gamer record updated successfully.
              <a href="{% url 'index' %}" class="alert-links"> Go Back</a>
          </div>
      {% else %}
          <div class="row justify-content-center">
              <div class="col-6">
                  <div class="card border-success mb-3">
                      <div class="card-header">
                          <i class="fa-sharp fa-solid fa-pen-to-square"></i> Update Gamer Records
                      </div>
                      <div class="card-body">
                          <form action="" method="POST">
                              {% csrf_token %}
                              {{ form.as_p }}
                              <button type="submit" class="btn btn-primary">Update</button>
                              <a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      {% endif %}
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
