@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color:#D8D4F2;
}
.nav {
    width: 100%;
    height: 65px;
    background-color: #8EB897;
}
.nav a{
    font-family: 'Bebas Neue', sans-serif;   
    text-decoration: none;
    color:black;
    padding: 12px 15px;
    font-size: 20px;
    transition: 0.6s all;
}
.nav a:hover{
    color: #023C40;
    background-color: #D8D4F2;
}
.nav .search{
    font-family: 'Josefin Sans', sans-serif;
    margin-top:-5px;
    margin-left: 650px;
}
.header h2{
    font-weight: 800;
    font-size: 35px;
    margin-top:25px;
    margin-left: 500px;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}
h6{
    font-family: 'Josefin Sans', sans-serif;
    margin-top:15px;
    margin-left: 600px;
    font-size: 40;
    color: black;
}
.card-header{
    background-color:#8EB897;
}
.card-header h8{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 35px;
    margin-left: 20px ;
}
.card-header h9{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 35px;
    color: white;
    margin-left: 5px;
}
.table-responsive .table th{
    font-family: 'Josefin Sans', sans-serif;
     color: black;
}
.table-responsive .table{
   background-color: #D8D4F2;
   color: #023C40;
   font-size: 25px;
   font-family: 'Josefin Sans', sans-serif;
}
.table-responsive{
    background-color:#D8D4F2;
}
.container-fluid{
    background-color: #D8D4F2;
}
.btn4:hover{
    border: 3px 5px  #335C81; 
    background-color:  white ;
}
.btn4{
    background-color: #8EB897 ;
    font-size: 20px;
    margin-left: 10px;
    border: 3px 5px #335C81;
    border-radius: 5px;
    color: black;
} 
.search.search-add-wrapper{
 color: white;
}

.form {
    margin-left: 550px;
    margin-top:100px;
    width:1000px;
}
.txt_field label{
    color: black;
    font-weight: 600;
    font-size: 20px;
}

.txt_field input{
    margin-left: 10px;
    background-color: rgb(180, 177, 177);
    border-radius: 5px;
    color: black;
    font-weight: 700;
    font-size: 18px;
}

.card-header h2{
    color: black;
    font-weight: 800;
    font-size: 30px;
    margin-left: 80px;
}

.cssbuttons-io-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2em;
    font-family: inherit;
    font-weight: 800;
    font-size: 15px;
    padding: .5em 1.5em;
    color: white;
    background: linear-gradient(0deg, rgb(100, 250, 150), #8EB897);
    border: none;
    outline: none;
    border-bottom: 3px solid #8EB897 ;
    box-shadow: 0 .5em .5em -.4em rgb(0, 0, 0, .5);
    letter-spacing: 0.08em;
    border-radius: 20em;
    cursor: pointer;
    transition: .5s;
    width: 30%;
    height: 70%;
  }
  
  .cssbuttons-io-button:hover {
    filter: brightness(1.2);
    color: rgb(0, 0, 0, .5);
  }
  
  .cssbuttons-io-button:active {
    transition: 0s;
    transform: rotate(-10deg);
  }

  .btn {
    margin-top: -60px;
    margin-left: 300px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
   }
   
   .btn, btn span {
    transition: 200ms;
   }
   
   .btn .text {
    transform: translateX(35px);
    color: rgb(0, 0, 0);
    font-weight: bold;
   }
   
   .btn .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -20px;
   }
   
   .btn svg {
    width: 15px;
    fill: #000000;
   }
   
   .btn:hover {
    background:  transparent;
   }
   
   .btn:hover .text {
    color: transparent;
   }
   
   .btn:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
   }
   
   .btn:focus {
    outline: none;
   }
   
   .btn:active .icon svg {
    transform: scale(0.8);
   }

.text-center{
    margin-left:500px;
    color: black;
    font-weight: 800;
    font-size: 40px;
}   