@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color:#D8D4F2;
}
.nav {
    width: 100%;
    height: 65px;
    background-color: #8EB897;
}
.nav a{
    font-family: 'Bebas Neue', sans-serif;
    float: left;
    text-decoration: none;
    color:black;
    padding: 14px 26px;
    font-size: 20px;
    transition: 0.6s all;
}
.nav a:hover{
    background-color: #D8D4F2;
}
.nav .search{
    font-family: 'Josefin Sans', sans-serif;
    margin-top:-5px;
    margin-left: 700px;
}
.header h2{
    font-weight: 800;
    font-size: 35px;
    margin-top:25px;
    margin-left: 500px;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}
h6{
    font-family: 'Josefin Sans', sans-serif;
    margin-top:15px;
    margin-left: 600px;
    font-size: 40;
    color: black;
}
.card-header{
    background-color:#8EB897;
}
.card-header h8{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 35px;
    margin-left: 20px ;
}
.card-header h9{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 35px;
    color: white;
    margin-left: 5px;
}
.table-responsive .table th{
    font-family: 'Josefin Sans', sans-serif;
     color: black;
}
.table-responsive .table{
   background-color: #D8D4F2;
   color: #335C81;
   font-size: 25px;
   font-family: 'Josefin Sans', sans-serif;
}
.table-responsive{
    background-color:#D8D4F2;
}
.container-fluid{
    background-color: #D8D4F2;
}
.header2 h2{
    margin-top: 30px;
    margin-left: 300px;
    color: #335C81;
}
.header1 h2{
    margin-top: 30px;
    margin-left: 300px;
    color: #335C81;
}